.floatUp-enter-active
  transition all 0.5s
.floatUp-leave-active
  transition all 0.5s
.floatUp-enter-from,
.floatUp-leave-to
  transform translateY(100%)
  opacity 0.3
.floatUp-enter-to,
.floatUp-leave-from
  transform translateY(0)
  opacity 1
