.fullDown-enter-active
  transition all 1s
.fullDown-leave-active
  transition all 0.5s
.fullDown-enter-from,
.fullDown-leave-to
  transform translateY(-100%)
  opacity 0.8
.fullDown-enter-to,
.fullDown-leave-from
  transform translateY(0)
  opacity 1
