.roll-enter-active,
.roll-leave-active
  transition: all 0.5s ease;


.roll-leave-to
  opacity: 0;
  transform: translateY(10px);
.roll-enter-from
  opacity: 0;
  transform: translateY(-10px);

.roll-enter-to
  transform: translateY(0)
  opacity 1
.roll-leave-from
  opacity 1
  transform: translateY(0)
