@font-face
  font-family:'pinyin'
  src url("@/assets/font/pingying.ttf")
@font-face
  font-family:'dongJingXiaoLangMan'
  src url("@/assets/font/东京小浪漫.ttf")
:root
  --cursor-pointer url('@/assets/icon/pointer.svg') 10 10,auto
  --cursor-noPointer url('@/assets/icon/noPointer.svg') 10 10,auto
  --cursor-pointing url('@/assets/icon/pointing.svg') 10 10,auto
*
  user-select none
  font-family "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
  -webkit-app-region no-drag
  &::-webkit-scrollbar
    width 8px
    background-color transparent
  &::-webkit-scrollbar-thumb
    border-radius 4px
    background rgba(165,222,228,.6)
.noScrollBar
  &::-webkit-scrollbar
    width 0
.pointing
  cursor var(--cursor-pointing)
.pinYin
  font-family 'pinyin'
  letter-spacing 2px
.dongJingXiaoLangMan
  font-family 'dongJingXiaoLangMan'
  letter-spacing 2px
body
  padding 0
  margin 0
  cursor var(--cursor-pointer)
  background-color rgba(165,222,228,.8)
  #app
    height 100vh
    width 100vw
    overflow auto
    display flex
    flex-direction column
@keyframes wordsLoop {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
  }
}
