:root
  --cursor-pointer url('@/assets/icon/pointer.svg') 5 5,auto
  --cursor-noPointer url('@/assets/icon/noPointer.svg') 5 5,auto
  --cursor-pointing url('@/assets/icon/pointing.svg') 5 5,auto
*
  user-select none
  //&::-webkit-scrollbar-track
  //  background-color transparent
  font-family "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
  &::-webkit-scrollbar
    width 8px
    background-color transparent
  &::-webkit-scrollbar-thumb
    border-radius 4px
    background rgba(165,222,228,.6)
  //&::-webkit-scrollbar-corner
  //  background-color: transparent
.noScrollBar
  &::-webkit-scrollbar
    width 0
body
  padding 0
  margin 0
  cursor var(--cursor-pointer)
  #app
    height 100vh
    width 100vw
    overflow auto
    display flex
    flex-direction column
@keyframes wordsLoop {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
  }
}
